<mat-card *ngIf="leader" style="display: initial;">
    <mat-card-header>
        <div mat-card-avatar></div>
    </mat-card-header>
    <img mat-card-image height="250px" width="100%" [src]="leader.image || defaultImage" [alt]="leader.name">
    <mat-card-content style="margin: 0;">
        <p>{{leader.name}}</p>
        <p>{{leader.designation}}</p>
    </mat-card-content>
    <mat-card-actions style="padding: 0;">
        <a mat-icon-button class="btn-facebook" target="_blank" [href]="leader.facebook">
            <i class="fa fa-facebook fa-sm"></i>
        </a>
        <a mat-icon-button class="btn-linkedin" target="_blank" [href]="leader.linkedin">
            <i class="fa fa-linkedin fa-sm"></i>
        </a>
    </mat-card-actions>
</mat-card>