<div class="container">
    <div style="margin: 2%" fxLayout="column" fxLayoutGap="10px">
        <div fxFlex class="label">
            <h1>About Us</h1>
        </div>

        <div fxFlex>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <div>
                    <h2 style="font-size: 24px;">Our History</h2>
                    <p style="font-size: 20px;">Started in 2010, Ristorante con Fusion quickly established itself as a
                        culinary icon par
                        excellence
                        in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it
                        enjoys patronage from the A-list clientele in Hong Kong. Featuring four of the best three-star
                        Michelin chefs in the world, you never know what will arrive on your plate the next time you
                        visit
                        us.</p>
                </div>
            </div>
        </div>

        <div fxFlex style="display:flex; justify-content: center;">
            <h1>Meet Us</h1>
        </div>

        <div *ngIf="leaders" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="25px" fxFlex
            style="display:flex; flex-direction: row;">
            <app-card *ngFor="let leader of leaders" [leader]="leader"></app-card>
        </div>
        <div [hidden]="leaders" fxFlex>
            <mat-spinner></mat-spinner>
            <h4>Loading...</h4>
        </div>
    </div>
</div>