<div class="container">
    <div style="margin: 2%" fxLayout="column" fxLayoutGap="10px">
        <div fxFlex class="label">
            <h1>About Us</h1>
        </div>

        <div fxFlex>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <div>
                    <h2>Our History</h2>
                    <p class="detail">
                        It was in 2021, with little capital but a big dream and believe our CEO, Harun Or Rashid started
                        R IT, a software company based at Dhaka, Bangladesh. The new company
                        initially focused on the international market with the local market added in 2021. Since then
                        the company has shown a continuous growth. <br>
                        Started in 2021, R IT Limited quickly established itself as a icon par
                        excellence. With its unique brand of world fusion that can be found nowhere else, it enjoys
                        patronage from the A-list clientele.
                    </p>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="column" fxLayout.gt-sm="row">
                <div>
                    <h2>Mission</h2>
                    <p class="detail">Be the best in the eyes of our customers, employees creating success & happiness
                        with our passion for technology.</p>
                </div>
            </div>
        </div>

        <div fxFlex style="display:flex; justify-content: center; margin-bottom: 0;">
            <h2 style="margin-bottom: 0;">Management Profiles</h2>
        </div>

        <div *ngIf="leaders" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="15px" fxFlex
            style="display:flex; flex-direction: row;">
            <app-card *ngFor="let leader of leaders" [leader]="leader"></app-card>
        </div>
        <div [hidden]="leaders" fxFlex>
            <mat-spinner></mat-spinner>
            <h4>Loading...</h4>
        </div>
    </div>
</div>