$background_color: #011e36;

:host {
    font-family: sans-serif;
}

.container {
    background-color: $background_color;
    color: white;
    margin: 0;
    padding: 0;
}

.label {
    display: flex;
    justify-content: center;
}
