<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex>
        <h2 class="location">Location Information</h2>
        <div fxLayout="column" fxLayout.gt-sm="row" style="justify-content: flex-end">
            <div fxFlex="50" fxFlexOffset="20px">
                <h3>Our Address</h3>
                <address class="address" style="font-size: 20px;">
                    10, Free School Street<br> Kathalbagan<br> Dhaka-1205, Bangladesh<br>
                    <i class="fa fa-phone"></i>: +8801738559727<br>
                    <i class="fa fa-fax"></i>: 880-2-9615900<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:rit@gmail.com">contact@ritbd.net</a>
                </address>
                <p></p>
                <div>
                    <a mat-raised-button href="tel:+801738559727"><i class="fa fa-phone"></i> Call</a>
                    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
                    <a mat-raised-button href="mailto:contact@ritbd.net"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
            <div fxFlex="40">
                <h3>Map of our Location</h3>
            </div>
        </div>
    </div>
</div>