<div class="container" fxLayout="column" fxLayoutGap="10px">

    <div fxFlex>
        <h2>Location Information</h2>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="50" fxFlexOffset="20px">
                <h3>Our Address</h3>
                <address>
                    Panthapath<br>
                    Farmgate<br>
                    Dhaka<br>
                    <i class="fa fa-phone"></i>: +801738559727<br>
                    <i class="fa fa-fax"></i>: +801738559727<br>
                    <i class="fa fa-envelope"></i>:
                    <a href="mailto:rit@gmail.com">rit@gmail.com</a>
                </address>
                <p></p>
                <div>
                    <a mat-raised-button href="tel:+801738559727"><i class="fa fa-phone"></i> Call</a>
                    <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
                    <a mat-raised-button href="mailto:rit@gmail.com"><i class="fa fa-envelope-o"></i> Email</a>
                </div>
            </div>
            <div fxFlex="40">
                <h3>Map of our Location</h3>
            </div>
        </div>
    </div>
</div>