<div class="container">
    <h1>Contact</h1>
    <h2>We'd love to hear from you</h2>
    <h2>Corporate Headquarter</h2>

    <div class="address-row" style="display: flex; flex-direction: row;">
        <i class="fa fa-map-marker location-icon"></i>
        <div class="address">
            <p>R IT</p>
            <p>10, Free School Street</p>
            <p>Kathalbagan</p>
            <p>Panthapath</p>
            <p>Dhaka-1205, Bangladesh</p>
        </div>
    </div>
    <div class="address-row">
        <i class="fa fa-phone icon"></i> +8801738559727<br>
    </div>
    <div class="address-row">
        <i class="fa fa-fax icon"></i> 880-2-9615900<br>
    </div>
    <div class="address-row">
        <i class="fa fa-envelope icon"></i>
        <a style="text-decoration: none; color: black;" href="mailto:contact@ritbd.net">contact@ritbd.net</a>
    </div>

    <div class="gq">
        <h2>General information</h2>
        <div class="address-row">
            <i class="fa fa-envelope icon"></i>
            <a style="text-decoration: none; color: black;" href="mailto:hello@ritbd.net">hello@ritbd.net</a>
        </div>
    </div>
</div>