.container {
    background-color: azure;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

.empty-list {
    font-size: 14px;
    text-align: center;
    font-family: sans-serif;
}
