.label {
    color: #808080;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
}

.services {
    text-align: center;
}

.container {
    flex-direction: column;
}
